.contact-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-container h3 {
  text-align: center;
  color: #333;
}

.contact-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.contact-container .row .image {
  flex: 1 1 50%;
}

.contact-container .row form {
  flex: 1 1 45%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-container form h3 {
  margin-bottom: 20px;
  color: #333;
}

.contact-container form .box {
  margin: 10px 0;
}

.contact-container form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contact-container form button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container form button:hover {
  background-color: #2980b9;
}
